<nav class="navbar navbar-light navbar-expand-lg">

    <div class="container">
        <div class="row">
            <div class="col-2">
                <a class="navbar-brand" href="#"><img alt="logotipo" src="../../../assets/img/logo.png" /></a>
            </div>
            <div class="col-8">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar produtos, marcas e muito mais... "
                            type="search" aria-label="search" aria-describedby="search-addon">
                        <div class="input-group-append">
                            <button class="input-group-text" id="search-addon" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2 justify-content-end pl-5">
                <span class="lead-bolt"><i class="fas fa-bolt"></i>&nbsp;Aproveite preços incríveis todos os dias</span>
            </div>
        </div>
    </div>

</nav>

<nav class="navbar navbar-light navbar-expand-lg" id="second-navbar">

    <div class="container">
        <div class="row">
            <div class="col-2 p-0">
                <div class="sendTo-area">
                    <i class="fas fa-map-marker-alt mr-2"></i>
                    <div class="text-area">
                        <span>Enviar Para William</span><br>
                        Rua Esdras Coelho ...
                    </div>
                </div>
            </div>
            <div class="col-8">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ofertas do dia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Histórico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Supermercado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lojas Oficiais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vender</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="col-2 pl-5">
                Menu...
            </div>
        </div>
    </div>

</nav>