<nav class="navbar navbar-expand-lg navbar-light">

    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="row">
            <div class="col-md-2">
                <a class="navbar-brand" href="#"><img alt="logotipo" src="../../../assets/img/logo.png" /></a>
            </div>
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar produtos, marcas e muito mais... "
                            type="search" aria-label="search" aria-describedby="search-addon">
                        <div class="input-group-append">
                            <button class="input-group-text" id="search-addon" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 justify-content-end pl-5">
                <span class="lead-bolt"><i class="fas fa-bolt"></i>&nbsp;Aproveite preços incríveis todos os dias</span>
            </div>
        </div>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul> -->
        </div>
    </div>

</nav>