$rgba-2: rgba(0, 0, 0, 0.2);
$rgba-6: rgba(0, 0, 0, 0.6);
$gray: #333;

.navbar {
  // height: 50px;
  background-color: var(--primary);
}

.lead-bolt {
  font-size: 1.1em;
  white-space: nowrap;
}

.lead-bolt .fa-bolt {
  font-size: 1.58em;
}

/** Formulário e filhos */

form {
  box-shadow: 0 1px 2px 0 $rgba-2;

  & .input-group {
    width: 100%;

    & input {
      font-size: 0.88em;
    }
  }

  & .fa-search {
    color: $rgba-6;
  }

  & .input-group-text {
    background: #fff;
  }
}

form input {
  border: none;

  &:focus {
    border: none;
    box-shadow: none;
    z-index: 1;
  }
}

form button {
  border: none;
  border-left: 1px solid $rgba-2;
  z-index: 2;
}

.container {
  padding: 0;
}

#second-navbar {
  & ul {
    font-size: 0.8em;
    white-space: nowrap;
  }
}

.sendTo-area {
  &:hover {
    cursor: pointer;
    border: 1px solid $rgba-2;
    border-radius: 2px;
  }

  .fa-map-marker-alt {
    position: absolute;
    top: 0.5rem;
    font-size: 24px;
  }

  .text-area {
    font-size: 0.75rem;
    margin-left: 1.3rem;
    white-space: nowrap;

    & span {
      color: $rgba-6;
      font-size: 0.9em;
    }
  }
}
